#-------------------------------------------------------------------------------------------------
# WORD
#-------------------------------------------------------------------------------------------------
*.doc

#-------------------------------------------------------------------------------------------------
# Python version (only used by pyenv to set python virtualenv)
#-------------------------------------------------------------------------------------------------
.python-version
